In [106]:
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np

In [107]:
x = pd.read_csv('path/training_titanic_x_y_train.csv')
x_test = pd.read_csv('path/test_titanic_x_test.csv')

In [108]:
x.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0

In [109]:
x.isna().sum()

Pclass        0
Name          0
Sex           0
Age         132
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       514
Embarked      1
Survived      0
dtype: int64

In [110]:
x_age_mean = x['Age'].mean()

x_filt = x['Age'].isna()
x.loc[x_filt, 'Age'] = x_age_mean

In [111]:
x.loc[x['Sex']=='male','Sex'] = 0
x.loc[x['Sex']=='female','Sex'] = 1

In [112]:
x_emb_filt = x['Embarked'].isna()
x.loc[x_emb_filt, 'Embarked'] = 'S'

x.loc[x['Embarked']=='S', 'Embarked']=1
x.loc[x['Embarked']=='C', 'Embarked']=2
x.loc[x['Embarked']=='Q', 'Embarked']=3

In [113]:
x.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",1,29.00000,1,0,228414,26.000,NaN,1,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",0,29.70056,0,0,A/5 2466,8.050,NaN,1,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",0,39.00000,0,0,250655,26.000,NaN,1,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",1,29.00000,0,4,349909,21.075,NaN,1,0
4,3,"Sutehall, Mr. Henry Jr",0,25.00000,0,0,SOTON/OQ 392076,7.050,NaN,1,0

In [114]:
x_test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,"Davies, Master. John Morgan Jr",male,8.0,1,1,C.A. 33112,36.7500,NaN,S
1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S
2,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,NaN,Q
3,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",female,24.0,2,1,243847,27.0000,NaN,S
4,1,"McGough, Mr. James Robert",male,36.0,0,0,PC 17473,26.2875,E25,S

In [115]:
x_test.isna().sum()

Pclass        0
Name          0
Sex           0
Age          45
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       173
Embarked      1
dtype: int64

In [116]:
x_test_age_mean = x_test['Age'].mean()
x_test_filt = x_test['Age'].isna()
x_test.loc[x_test_filt, 'Age'] = x_test_age_mean

In [117]:
x_test.loc[x_test['Sex']=='male', 'Sex'] = 0
x_test.loc[x_test['Sex']=='female', 'Sex'] = 1

In [118]:
x_test_emb_filt = x_test['Embarked'].isna()

x_test.loc[x_test_emb_filt, 'Embarked'] = 'S'

x_test.loc[x_test['Embarked']=='S', 'Embarked']=1
x_test.loc[x_test['Embarked']=='C', 'Embarked']=2
x_test.loc[x_test['Embarked']=='Q', 'Embarked']=3

In [119]:
x_test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,"Davies, Master. John Morgan Jr",0,8.000000,1,1,C.A. 33112,36.7500,NaN,1
1,1,"Leader, Dr. Alice (Farnham)",1,49.000000,0,0,17465,25.9292,D17,1
2,3,"Kilgannon, Mr. Thomas J",0,29.694775,0,0,36865,7.7375,NaN,3
3,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",1,24.000000,2,1,243847,27.0000,NaN,1
4,1,"McGough, Mr. James Robert",0,36.000000,0,0,PC 17473,26.2875,E25,1

Adding data to test training

In [120]:
x_train = x.loc[:,['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Embarked']]
y_train = x.iloc[:,-1]
x_test_final = x_test.loc[:, ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Embarked']]

In [121]:
l_r = LogisticRegression()
l_r.fit(x_train, y_train)

LogisticRegression()

In [126]:
y_pred = l_r.predict(x_test_final)

In [124]:
print("Training Score", l_r.score(x_train, y_train))

Training Score 0.7874251497005988

In [129]:
np.savetxt('path/file.csv' ,y_pred, fmt='%.5f', delimiter=',',header = 'predictions')